@using System.Web.Mvc.Html
@using Web
@using Web.Extensions
<!DOCTYPE html>
<html>
    <head>
        <title>@ViewBag.Title</title>
        <link href="@Url.Content("~/Content/reset.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/css/bootstrap.css")" rel="stylesheet" media="screen" />
        <link href="@Url.Content("~/Content/site.css")" rel="stylesheet" type="text/css" />        
        <link href="@Url.Content("~/Content/css/datepicker.css")" rel="stylesheet" type="text/css" />        
        <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
        <script type="text/javascript" src="../../Content/jquery-1.7.2.min.js"></script>
        <script type="text/javascript" src="../../Content/js/jquery-ui.js"></script>
        <script type="text/javascript" src="../../Content/list.min.js"></script>        
        <script type="text/javascript" src="../../Content/js/bootstrap-datepicker.js"></script>        
        <script src="@Url.Content("~/Content/js/bootstrap.min.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Content/js/signin.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Content/js/forms.js")"></script>

        <script id="scriptInit" type="text/javascript">
            $(document).ready(function() {
                $("#success").fadeIn("slow").delay(1000).fadeOut("slow");
            });
        </script>
        
        @if (IsSectionDefined("Head")) {
            @RenderSection("Head", required: false)
        }

    </head>

    <body>
        @Html.Partial("Partials/FacebookSDK")
        
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container-fluid">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a class="brand" href="@Url.Action("Index", "Home")">@Context.Site().Name</a>
                    <div class="nav-collapse collapse">
                        <ul class="nav pull-right">
                            @if (!Context.Account().IsLoggedIn) {
                                <li><a href="@Url.Action("Index", "Login")" class="ajax-button">Sign In</a></li>
                            }
                            else {
                                <li><a href="@Url.Action("Index", "Logout")">Sign Out</a></li>
                            }
                        </ul>                            
                        <ul class="nav">
                            <li class="active"><a href="@Url.Action("Index", "Home")">Home</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="container">            
                @Html.DisplayFor(x => TempData["SuccessMessage"])
                @Html.DisplayFor(x => TempData["ErrorMessage"])
                @RenderBody()
            </div>
        </div>
    </body>
</html>
