@using System.Web.Mvc.Html
<!DOCTYPE html>
<html>
    <head>
        <title>@ViewBag.Title</title>
        <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />        
        <link href='http://fonts.googleapis.com/css?family=Anaheim' rel='stylesheet' type='text/css'>
        <script type="text/javascript" src="../../Content/jquery-1.7.2.min.js"></script>
        <script type="text/javascript" src="../../Content/list.min.js"></script>

        <script id="scriptInit" type="text/javascript">
            $(document).ready(function () {
                $("#success").fadeIn("slow").delay(1000).fadeOut("slow");
            });
        </script>

    </head>

    <body>
        <div class="top-container">
            <div class="container">            
                <div class="top-menu">                                            
                    <span>Goal Setter</span>
                    <ul>
                        <li>Accounts @Html.ActionLink("New", "Create", "Accounts") | @Html.ActionLink("View", "Listing", "Accounts")</li>
                        <li>Goals @Html.ActionLink("New", "Create", "Goals") | @Html.ActionLink("View", "Listing", "Goals")</li>
                        @if (!User.Identity.IsAuthenticated) {
                            <li>@Html.ActionLink("Sign In", "Index", "Login")</li>
                        }
                        else {
                            <li>@Html.ActionLink("Sign Out", "Index", "Logout")</li>
                        }
                        
                    </ul>
                </div>
                
                @Html.DisplayFor(x => TempData["SuccessMessage"])
                @Html.DisplayFor(x => TempData["ErrorMessage"])

                @RenderBody()
            </div>
        </div>
    </body>
</html>
