@using System.Web.Mvc.Html
@using Web
@using Web.Extensions
@using Web.Helpers
<!DOCTYPE html>
<html>
    <head>
        <title>@ViewBag.Title</title>
        <link href="@Url.Content("~/Content/reset.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/css/bootstrap.css")" rel="stylesheet" media="screen" />
        <link href="@Url.Content("~/Content/site.css")" rel="stylesheet" type="text/css" />        
        <link href="@Url.Content("~/Content/css/datepicker.css")" rel="stylesheet" type="text/css" />        
        <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
        <script type="text/javascript" src="../../Content/jquery-1.7.2.min.js"></script>
        <script type="text/javascript" src="../../Content/js/jquery-ui.js"></script>
        <script type="text/javascript" src="../../Content/list.min.js"></script>        
        <script type="text/javascript" src="../../Content/js/bootstrap-datepicker.js"></script>        
        <script src="/Scripts/jquery.signalR-1.0.0-rc2.min.js" type="text/javascript"></script>
        <script src="@Url.Content("~/Content/js/bootstrap.min.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Content/js/signin.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Content/js/forms.js")"></script>
        <script type="text/javascript" src="../../Content/js/newgroup.js"></script>
        <script src="~/signalr/hubs" type="text/javascript"></script>
        <script type="text/javascript" src="../../Content/js/goalhistory.js"></script>
        <script type="text/javascript" src="../../Content/js/goalmenu.js"></script>

        <script type="text/javascript">
            $(function() {
                var groupManager = new GroupManager($('#new-group'), $("#groups"));
                groupManager.LoadGroups();
            });
        </script>

        <script id="scriptInit" type="text/javascript">
            $(document).ready(function() {
                $("#success").fadeIn("slow").delay(1000).fadeOut("slow");
            });
        </script>
        
        @if (IsSectionDefined("Head")) {
            @RenderSection("Head", required: false)
        }

    </head>

    <body>
        @Html.Partial("Partials/FacebookSDK")
                
        <div class="container">
            <div class="container-fluid">
                <div class="row-fluid">
                    <ul class="nav pull-right">
                        @if (!Context.Account().IsLoggedIn) {
                            <li><a href="@Url.Action("Index", "Login")" class="ajax-button">Sign In</a></li>
                        }
                        else {
                            <li><a href="@Url.Action("Index", "Logout")">Sign Out</a></li>
                        }
                    </ul>                            
                </div>
                <div class="row-fluid">
                    <div class="span3">
                        @RenderSection("Picture", false)                        
                        <div class="row-fluid">
                            @RenderSection("LeftColumn", false)
                        </div>
                    </div>
                    <div class="span9">                        
                        @{
                            var groups = Html.Groups();
                            var goals = Html.Goals();
                        }    
                        <ul class="nav nav-tabs">
                            @if (groups.Any()) {
                                <li class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Groups <b class="caret"></b></a>
                                    <ul id="groups" class="dropdown-menu">
                                        @foreach (var group in groups) {
                                            <li>@Html.ActionLink(group.Title, "Index", "Groups", new {group.Id}, null)</li>
                                        }
                                    </ul>
                                </li>
                            }                            
                            @if (goals != null) {
                                <li class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Goals <b class="caret"></b></a>
                                    <ul id="goals" class="dropdown-menu">
                                        @foreach (var goal in goals) {
                                            <li>@Html.ActionLink(goal.Title, "Index", "Goals", new {goal.Id}, null)</li>
                                        }
                                    </ul>
                                </li>
                            }
                        </ul>
                        <div class="row-fluid">
                            <div class="span12">
                                @Html.DisplayFor(x => TempData["SuccessMessage"])
                                @Html.DisplayFor(x => TempData["ErrorMessage"])
                                <h1>@RenderSection("Title", true)</h1>
                                @RenderBody()
                            </div>
                        </div>
                    </div>                    
                </div>
            </div>                            
        </div>
    </body>
</html>
