@model Domain.Models.Goals.Goal

@section Head {
    <script type="text/javascript" src="../../Content/js/newtask.js"></script>
    <script type="text/javascript" src="../../Content/js/editContent.js"></script>
    <script type="text/javascript" src="../../Content/js/goaltypes.js"></script>
    <script type="text/javascript">
        $(function () {
            var contentEditor = new ContentEditor('@Model.Id', $('input[name="edit-description"]'), $("#goal-description"), "TextArea", "@Url.Action("UpdateDescription")");
            var deadlineEditor = new ContentEditor('@Model.Id', $('input[name="edit-deadline"]'), $("#goal-deadline"), "DateTime", "@Url.Action("UpdateDeadline")");
            var taskManager = new TaskManager($('input[name="create-task"]'), $("#tasks"), '@Model.Id');
            taskManager.LoadTasks();
            var goalTypes = new GoalTypes('@Model.Id', '@Model.Type');
            goalTypes.Load($("#goal-types"));
        });
    </script>
}

<h1>@Model.Title</h1>

<fieldset>
    <legend>Goal Type</legend>
    <div id="goal-types"></div>
</fieldset>

@Html.DisplayForModel()

<fieldset>
    <legend>Deadline <input type="button" name="edit-deadline" class="btn-edit" /></legend>
    <div id="goal-deadline">
        @if (Model.Deadline.HasValue) {
            @Model.Deadline.Value.ToString("MMMM d, yyyy")
        }
    </div>
</fieldset>

<fieldset>
    <legend>Description <input type="button" name="edit-description" class="btn-edit" /></legend>
    <div id="goal-description">
        @if (!string.IsNullOrEmpty(Model.Description)) {
            @Html.Raw(Model.Description.Replace("\n", "<br />"))
        }
    </div>
</fieldset>

<fieldset>
    <legend>Tasks <input type="button" name="create-task" class="btn-new"/></legend>
    <ul id="tasks"></ul>    
</fieldset>

<fieldset>
    <legend>History</legend>
    <ul id="history"></ul>
</fieldset>